# 'Wine-to-rule-them-all' - Wine-TkG advanced config file

##
##   This config file contains advanced settings for your build.
##   For the basic configuration, see ../customization.cfg
##

#### NON-MAKEPKG OPTIONS ####

_nomakepkg_nover="false"

#### MAKEPKG-ONLY OPTIONS ####

_allow_server_rt_prio="false"
_allow_wine_net_raw="false"

#### COMPILER/BUILD OPTIONS ####

_EXT_CONFIG_PATH=~/.config/frogminer/wine-tkg.cfg

_PKGNAME_OVERRIDE=""

CUSTOM_MINGW_PATH=""
CUSTOM_GCC_PATH=""

_LOCAL_OPTIMIZED="true"
_GCC_FLAGS="-O2 -pipe -msse3 -mfpmath=sse -ftree-vectorize -Wno-error=implicit-function-declaration -Wno-error=incompatible-pointer-types"
_LD_FLAGS="-Wl,-O1,--sort-common,--as-needed"
_CROSS_FLAGS="-O2 -pipe -msse3 -mfpmath=sse -ftree-vectorize -Wno-error=implicit-function-declaration -Wno-error=incompatible-pointer-types"
_CROSS_LD_FLAGS="-Wl,-O1,--sort-common,--as-needed"

_ENABLE_TESTS="false"
_pkg_strip="true"
_NUKR="true"
_generate_patchsets="false"
_log_errors_to_file="false"

# Set to "wow64" to use Wine 8.0+ experimental WoW64 (32on64) for 32-bit apps
_NOLIB32="false"
_NOLIB64="false"
_NOMINGW="false"
_NOCCACHE="false"
_NOCOMPILE="false"
_NOINITIALPROMPT="false"
_SINGLE_MAKE="false"

_user_deps=""
_user_makedeps=""
_nopatchmsg="false"

#### EXTERNAL INSTALLATION SETTINGS ####

_DEFAULT_EXTERNAL_PATH="/opt"
_EXTERNAL_NOVER="false"

#### WINE FLAVOUR SETTINGS ####

_custom_wine_source=""
_localbuild=""
_github_mirrorsrc="false"
_configure_userargs64=""
_configure_userargs32=""

_esync_version=""
_fsync_spincounts="true"

# staging - disable desired patchsets with -W flag
_staging_userargs="-W ntdll-NtAlertThreadByThreadId"

_use_legacy_gallium_nine="false"
_childwindow_fix="true"

#### GAME-SPECIFIC PATCHES ####

_sims3_fix="false"
_staging_pulse_disable="false"

#### OTHER PATCHES ####

_CSMT_toggle="true"
_GLSL_toggle="false"
_MIME_NOPE="true"
_FOAS_NOPE="true"
_lowlatency_audio="false"
_stg_shared_mem_default="false"
_nvidia_hate="false"

#### PROTON PATCHES ####

_sdl_joy_support="false"
_large_address_aware="true"
_proton_bcrypt="true"

#### USER PATCHES ####

_user_patches="true"
_user_patches_no_confirm="false"
_hotfixes_no_confirm="true"
_hotfixansw_staging_mfplat=""
_hotfixansw_staging_pulse=""
