# 'Wine-to-rule-them-all' - Wine-TkG config file
# Protonified - Wine with Proton patches

_PKGNAME_OVERRIDE="protonified"
_FS_bypass_compositor="true"
_proton_fs_hack="true"
_protonify="true"
_win10_default="true"
_proton_battleye_support="true"
_proton_eac_support="true"
_proton_rawinput="true"
