# 'Wine-to-rule-them-all' - Wine-TkG config file
# Wine-staging - clean

_NUKR="true"
_NOLIB32="false"
_NOLIB64="false"
_NOINITIALPROMPT="false"
_PKGNAME_OVERRIDE="clean-staging"
_EXTERNAL_NOVER="false"
_use_esync="false"
_use_fsync="false"
_use_ntsync="false"
_esync_version=""
_use_staging="true"
_use_legacy_gallium_nine="false"
_childwindow_fix="false"
_CSMT_toggle="false"
_GLSL_toggle="false"
_MIME_NOPE="false"
_lowlatency_audio="false"
_launch_with_dedicated_gpu="false"
_sdl_joy_support="false"
_FS_bypass_compositor="false"
_proton_fs_hack="false"
_large_address_aware="false"
_stg_shared_mem_default="false"
_nvidia_hate="false"
_proton_rawinput="false"
_msvcrt_nativebuiltin="false"
_win10_default="false"
_protonify="false"
_proton_winevulkan="false"
_proton_mf_patches="false"
_GE_WAYLAND="false"
_use_josh_flat_theme="false"
_proton_bcrypt="false"
_proton_eac_support="false"
_proton_battleye_support="false"
