# 'Wine-to-rule-them-all' - Wine-TkG simple config file

##
##   This config file contains the basic settings of your build.
##   For deeper configuration, see wine-tkg-profiles/advanced-customization.cfg
##

#### NON-MAKEPKG OPTIONS (Won't affect makepkg builds) ####

# Set to the desired installation path for your build(s). A versioned dir containing your build will be created inside that target.
_nomakepkg_prefix_path=""

# Set to true to get a prompt after the 64-bit part is built, enabling package switching before building the 32-bit side.
_nomakepkg_midbuild_prompt="false"

# Enable dependency autoresolver for non-makepkg builds
_nomakepkg_dependency_autoresolver="true"


#### EXTERNAL INSTALLATION SETTINGS - !! ONLY AFFECTS MAKEPKG !! ####

# Set to true to install into external path instead of /usr.
_EXTERNAL_INSTALL="false"

#### GENERATE DEBIAN PACKAGE ####
_GENERATE_DEBIAN_PACKAGE="false"

#### WINE FLAVOUR SETTINGS ####

# Override default config files with one of the presets from /wine-tkg-profiles dir
# Set to "none" to silence the prompt and only use default config files.
_LOCAL_PRESET=""

# Add GloriousEggroll game patches and hotfixes when using a Valve profile with staging enabled
_use_GE_patches="true"

# Add GloriousEggroll patches and hotfixes for winewayland
_GE_WAYLAND="true"

# plain wine commit or version tag
_plain_version=""

# staging
_use_staging="true"
_staging_version=""

# Set to true to pass --with-wayland --with-vulkan configure arguments
_wayland_driver="true"


#### LEGACY ####

# NTsync - https://repo.or.cz/wine/zf.git/shortlog/refs/heads/fastsync4
_use_fastsync="false"

# NTsync5 - https://gitlab.winehq.org/wine/wine/-/merge_requests/7226
_use_ntsync="false"

# esync - Enable with WINEESYNC=1 envvar
_use_esync="false"

# fsync - Enable with WINEFSYNC=1 envvar
_use_fsync="false"


#### GAME-SPECIFIC PATCHES ####

# Enable support for Proton's Battleye runtime
_proton_battleye_support="true"

# Enable support for Proton's EAC bridge
_proton_eac_support="true"

# Mechwarrior Online fix
_mwo_fix="false"

# Resident Evil 4 hack
_re4_fix="false"

# Fix for Assetto Corsa performance drop when HUD elements are displayed
_assettocorsa_hudperf_fix="false"

# Fixes for Mortal Kombat 11
_mk11_fix="true"

# Workaround for Final Fantasy XIV Launcher 404 error
_ffxivlauncher_fix="false"

# Background music on King of Fighters 98 and 2002 BGM fix
_kof98_2002_BGM_fix="false"

# Fix for Quake Champions by Paul Gofman for Proton
_quake_champions_fix="false"

#### OTHER PATCHES ####

# launch with dedicated gpu desktop entry patch
_launch_with_dedicated_gpu="false"

# Joshua Ashton's take on making wine dialogs and menus less win95-ish
_use_josh_flat_theme="true"


#### PROTON PATCHES ####

# Bypass compositor in fullscreen modes
_FS_bypass_compositor="false"

# Proton Fullscreen patch
_proton_fs_hack="false"

# Various vulkan patches from Proton 10 for wine
_proton_winevulkan="false"

# Various MF/winegstreamer patches from Proton 10 for wine
_proton_mf_patches="false"

# Proton compatible rawinput patchset
_proton_rawinput="true"

# Enforce mscvrt Dlls to native then builtin - from Proton
_msvcrt_nativebuiltin="false"

# Use Proton's updated win10 versioning and better productid
_win10_default="false"

# Other misc proton patches and hacks
_protonify="false"


#### USER PATCHES - See README in ./wine-tkg-userpatches dir for instructions ####

# community patches
_community_patches=""

# Automatically update community-patches from git
_community_patches_auto_update="true"
